<% include header %>

    <h2>Login</h2>
    <form name="auth" method="post" action="">
        <input type="text" name="player" />
        <button name="login" type="submit">Login</button>
    </form>

<% include footer %>